// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/*@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";*/

//noinspection CssInvalidAtRule
@tailwind base;
//noinspection CssInvalidAtRule
@tailwind components;
//noinspection CssInvalidAtRule
@tailwind utilities;

$true-blue: #0088ff;


.logo-text {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: 900;
    color: #333333;
    text-decoration: none;
    font-size: 1.3rem;

    :hover {
        text-decoration: none !important;
    }
}

.true-blue {
    color: $true-blue;
}

