// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


.logo-text {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: 900;
    color: $dark;
    text-decoration: none;

    :hover {
        text-decoration: none !important;
        /*some comment*/
    }
}

.true-blue {
    color: $true-blue;
}
